<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>plot one country data</title>
    <script src = "https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <h1>plot the chart created in the backend with python ploty library</h1>
    <p>{{ids}}</p>
    <p>{{jfile}}</p>
    <div id = '0'></div>

    <script type = 'text/javascript'>
        var figures = {{jfile | safe}};
        var ids = 0 | safe;
        Plotly.plot(0,
                    jfile[0].data,
                    jfile[0].layout || {})
    </script>
</body>
</html>